{# src/Acme/TeamBundle/Resources/views/Default/base.html.twig #}
{% extends 'AcmeTeamBundle::layout.html.twig' %}

{% block title %}Craft your team{% endblock %}

{% block body %}
<div class="row">
    <div class="span4 ">

    </div>
    <div class="span8">

    </div>
</div>

{% endblock %}